.theme {
  margin-top: 2em;
  margin-bottom: 2em;
  h1 {
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: 300;
    color: #666;
    text-align: center;
  }
  .theme-btn-div {
    .theme-btn-box {
      text-align: center;
      span {
        width: 2.5%;
        .theme-btn {
          margin-left: 10px;
          display: inline-block;
        }
      }
    }
  }
}
