.theme {
  margin-top: 2em;
  margin-bottom: 2em;
  h1 {
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: 300;
    color: #666;
    text-align: center;
  }
  .theme-btn-div {
    max-width: 20%;
    margin: 0 auto;
    .theme-btn {
      margin-left: 10px;
      margin-right: 5px;
      display: inline-block;
    }
  }
}
