.signIn {
  background: #f1f1f1;
  @media screen and (min-width: 280px) {
    padding-top: 10em;
  }
  .signIn-box {
    @media screen and (min-width: 960px) {
      width: 25%;
      margin: 0 auto;
    }
    nz-input-group {
      margin: 1em 0;
    }
    input {
      height: 3em;
    }
    .signIn-help {
      height: 3em;
      a {
        float: right;
        line-height: 3em;
      }
      span {
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: 3em;
        color: #999;
        font-family: "Lato", sans-serif;
      }
    }

    .signIn-btn {
      text-align: center;
      margin-top: 1em;
      button {
        width: 100%;
      }
    }
  }
}
